In [10]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Poum,NC,2022-05-26 18:44:23,-20.2333,164.0167,76.62,80,100,15.08
1,1,Rikitea,PF,2022-05-26 18:44:23,-23.1203,-134.9692,77.31,74,7,16.64
2,2,Nanortalik,GL,2022-05-26 18:44:24,60.1432,-45.2371,38.16,95,100,6.69
3,3,Mar Del Plata,AR,2022-05-26 18:44:24,-38.0023,-57.5575,57.09,53,0,6.91
4,4,Sola,VU,2022-05-26 18:44:25,-13.8833,167.5500,79.47,83,75,0.00

In [11]:
#get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [12]:
#Create a Maximum Temperature Heatmap

# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [13]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [14]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
#Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds =  city_data_df['Cloudiness']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
#Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind =  city_data_df['Wind Speed']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
#Get Vacation Criteria

# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [19]:
preferred_cities_df.count()# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Poum,NC,2022-05-26 18:44:23,-20.2333,164.0167,76.62,80,100,15.08
1,1,Rikitea,PF,2022-05-26 18:44:23,-23.1203,-134.9692,77.31,74,7,16.64
4,4,Sola,VU,2022-05-26 18:44:25,-13.8833,167.5500,79.47,83,75,0.00
6,6,Hilo,US,2022-05-26 18:44:27,19.7297,-155.0900,78.12,69,20,3.44
7,7,Oistins,BB,2022-05-26 18:41:54,13.0667,-59.5333,86.09,70,20,16.11
10,10,Pangai,TO,2022-05-26 18:44:29,-19.8000,-174.3500,77.11,94,75,11.50
14,14,Mecca,SA,2022-05-26 18:44:31,21.4267,39.8261,87.78,26,0,6.17
20,20,Tarakan,ID,2022-05-26 18:44:34,3.3000,117.6333,81.90,78,40,5.75
21,21,Arraial Do Cabo,BR,2022-05-26 18:44:35,-22.9661,-42.0278,80.56,57,0,18.41
32,32,Lamu,KE,2022-05-26 18:44:39,-2.2717,40.9020,79.79,82,84,13.09

In [20]:
preferred_cities_df.count()

City_ID       194
City          194
Country       194
Date          194
Lat           194
Lng           194
Max Temp      194
Humidity      194
Cloudiness    194
Wind Speed    194
dtype: int64

In [21]:
#Map Vacation Criteria

# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0              Poum      NC     76.62 -20.2333  164.0167
1           Rikitea      PF     77.31 -23.1203 -134.9692
4              Sola      VU     79.47 -13.8833  167.5500
6              Hilo      US     78.12  19.7297 -155.0900
7           Oistins      BB     86.09  13.0667  -59.5333
10           Pangai      TO     77.11 -19.8000 -174.3500
14            Mecca      SA     87.78  21.4267   39.8261
20          Tarakan      ID     81.90   3.3000  117.6333
21  Arraial Do Cabo      BR     80.56 -22.9661  -42.0278
32             Lamu      KE     79.79  -2.2717   40.9020

In [22]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [25]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [26]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Poum,NC,76.62,-20.2333,164.0167,
1,Rikitea,PF,77.31,-23.1203,-134.9692,People ThankYou
4,Sola,VU,79.47,-13.8833,167.5500,Leumerus Bungalows
6,Hilo,US,78.12,19.7297,-155.0900,Hilo Hawaiian Hotel
7,Oistins,BB,86.09,13.0667,-59.5333,Butterfly Beach Hotel
10,Pangai,TO,77.11,-19.8000,-174.3500,Ha'apai Beach Resort
14,Mecca,SA,87.78,21.4267,39.8261,"Makkah Clock Royal Tower, A Fairmont Hotel"
20,Tarakan,ID,81.90,3.3000,117.6333,RedDoorz Syariah near Taman Berlabuh Tarakan
21,Arraial Do Cabo,BR,80.56,-22.9661,-42.0278,Pousada Porto Praia
32,Lamu,KE,79.79,-2.2717,40.9020,Lamu House

In [27]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Add a heatmap of temperature for the vacation spots and marker for each city
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [30]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))